html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calculator {
    border: 1px black solid;
    width: 360px;
    height: 480px;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

.keypad {
    flex: 5;
}

.screen {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.display {
    font-size: 48px;
    font-weight: bold;
    padding: 35px 30px;
    background-color: whitesmoke;
    width: 280px;
    display: flex;
    justify-content: flex-end;
}

.keypad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.row {
    display: flex;
    gap: 5px;
    justify-content: center;
}
.btn {
    height: 60px;
    width: 80px;
}