html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calculator {
    border: 1px black solid;
    width: 360px;
    height: 480px;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

.keypad {
    flex: 5;
}

.screen {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.display {
    font-size: 36px;
    font-weight: bold;
    padding: 20px;
    background-color: whitesmoke;
    width: 280px;
    display: flex;
    justify-content: flex-end;
}